PySide6
cffi
dateparser
python-dotenv
flask
flask_cors
googletrans
huggingface_hub
matplotlib
numpy
openai
pandas
pygame
pyttsx3
requests
safetensors
seaborn
sentencepiece
pydantic
tqdm
transformers
typer
vaderSentiment
werkzeug
wget
wolframalpha
PyYAML
torch
textblob
sympy
speech_recognition
